<!-- 4 比 8 -->
<div class="container">
  <h2 class="text-center text-light pt-4">Pos System</h2>

  <div class="row">
    <!--訂單區-->
    <div class="col-md-4" data-order-lists>
      <!--每筆訂單-->
      <div class="card my-2">
        <div class="card-body">
          <!-- 刪除鍵 -->
          <div class="text-right">
            <span data-alpha-pos="delete-drink">X</span>
          </div>
          <!-- 刪除鍵 -->
          <h6 class="card-title">範例 - 紅茶</h6>
          <div class="card-text">微冰</div>
          <div class="card-text">半糖</div>
        </div>
        <div class="card-footer text-right">
          <div class="card-text text-muted">
            $
            <span data-drink-price>30</span>
          </div>
        </div>
      </div>
      <!-- 結帳確認鍵 -->
      <div class="text-right my-2">
        <button
          class="btn btn-light"
          style="min-width: 120px"
          data-alpha-pos="checkout"
        >
          確認
        </button>
      </div>
      <!-- 結帳確認鍵 -->
    </div>
    <!-- 點餐區 -->
    <div class="col-md-8 p-4" data-order-panel>
      <section class="menu mb-4">
        <div class="card-deck mb-3">
          <div class="card text-center">
            <label class="card-body px-2">
              <h5 class="card-title">紅茶</h5>
              <input type="radio" name="drink" value="紅茶" />
            </label>
          </div>

          <div class="card text-center">
            <label class="card-body px-2">
              <h5 class="card-title">青茶</h5>
              <input type="radio" name="drink" value="青茶" />
            </label>
          </div>

          <div class="card text-center">
            <label class="card-body px-2">
              <h5 class="card-title">麥茶</h5>
              <input type="radio" name="drink" value="麥茶" />
            </label>
          </div>

          <div class="card text-center">
            <label class="card-body px-2">
              <h5 class="card-title">烏龍</h5>
              <input type="radio" name="drink" value="烏龍" />
            </label>
          </div>
        </div>

        <div class="card-deck">
          <div class="card text-center">
            <label class="card-body px-2">
              <h5 class="card-title">珍珠奶茶</h5>
              <input type="radio" name="drink" value="珍珠奶茶" />
            </label>
          </div>

          <div class="card text-center">
            <label class="card-body px-2">
              <h5 class="card-title">布丁奶茶</h5>
              <input type="radio" name="drink" value="布丁奶茶" />
            </label>
          </div>

          <div class="card text-center">
            <label class="card-body px-2">
              <h5 class="card-title">紅茶拿鐵</h5>
              <input type="radio" name="drink" value="紅茶拿鐵" />
            </label>
          </div>

          <div class="card text-center">
            <label class="card-body px-2">
              <h5 class="card-title">抹茶拿鐵</h5>
              <input type="radio" name="drink" value="抹茶拿鐵" />
            </label>
          </div>
        </div>
      </section>

      <section class="ice mb-4">
        <label class="d-block text-light">Ice</label>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-outline-primary">
            <input type="radio" name="ice" value="去冰" />去冰
          </label>
          <label class="btn btn-outline-primary">
            <input type="radio" name="ice" value="少冰" />少冰
          </label>
          <label class="btn btn-outline-primary active">
            <input
              type="radio"
              name="ice"
              value="正常"
              checked="checked"
            />正常
          </label>
        </div>
      </section>

      <section class="sugar mb-5">
        <label class="d-block text-light">Sugar</label>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-outline-info">
            <input type="radio" name="sugar" value="無糖" />無糖
          </label>
          <label class="btn btn-outline-info">
            <input type="radio" name="sugar" value="微糖" />微糖
          </label>
          <label class="btn btn-outline-info">
            <input type="radio" name="sugar" value="半糖" />半糖
          </label>
          <label class="btn btn-outline-info">
            <input type="radio" name="sugar" value="少糖" />少糖
          </label>
          <label class="btn btn-outline-info active">
            <input
              type="radio"
              name="sugar"
              value="正常"
              checked="checked"
            />正常
          </label>
        </div>
      </section>

      <div class="text-right">
        <div
          class="btn btn-light"
          style="min-width: 120px"
          data-alpha-pos="add-drink"
        >
          新增
        </div>
      </div>
    </div>
    <!-- 點餐區 -->
  </div>
</div>