<!-- 4 比 8 -->
<div class="container">
  <h2 class="text-center text-light pt-4">Pos System</h2>

  <div class="row">
    <!--訂單區-->
    <div class="col-md-4" data-order-lists>
      <!--每筆訂單-->
      <div class="card my-2">
        <div class="card-body">
          <!-- 刪除鍵 -->
          <div class="text-right">
            <span data-alpha-pos="delete-drink">X</span>
          </div>
          <!-- 刪除鍵 -->
          <h6 class="card-title">範例 - 紅茶</h6>
          <div class="card-text">微冰</div>
          <div class="card-text">半糖</div>
        </div>
        <div class="card-footer text-right">
          <div class="card-text text-muted">
            $
            <span data-drink-price>30</span>
          </div>
        </div>
      </div>
      <!-- 結帳確認鍵 -->
      <div class="text-right my-2">
        <button
          class="btn btn-light"
          style="min-width: 120px"
          data-alpha-pos="checkout"
        >
          確認
        </button>
      </div>
      <!-- 結帳確認鍵 -->
    </div>
    <!-- 點餐區 -->
    <div class="col-md-8 p-4" data-order-panel>
      <section class="menu mb-4">
        <div class="card-deck mb-3">
          <div class="card text-center">
            <label class="card-body px-2">
              <h5 class="card-title">Black Tea</h5>
              <input type="radio" name="drink" value="Black Tea" />
            </label>
          </div>

          <div class="card text-center">
            <label class="card-body px-2">
              <h5 class="card-title">Oolong Tea</h5>
              <input type="radio" name="drink" value="Oolong Tea" />
            </label>
          </div>

          <div class="card text-center">
            <label class="card-body px-2">
              <h5 class="card-title">Baozong Tea</h5>
              <input type="radio" name="drink" value="Baozong Tea" />
            </label>
          </div>

          <div class="card text-center">
            <label class="card-body px-2">
              <h5 class="card-title">Green Tea</h5>
              <input type="radio" name="drink" value="Green Tea" />
            </label>
          </div>
        </div>

        <div class="card-deck">
          <div class="card text-center">
            <label class="card-body px-2">
              <h5 class="card-title">Bubble Milk Tea</h5>
              <input type="radio" name="drink" value="Bubble Milk Tea" />
            </label>
          </div>

          <div class="card text-center">
            <label class="card-body px-2">
              <h5 class="card-title">Black Tea Latte</h5>
              <input type="radio" name="drink" value="Black Tea Latte" />
            </label>
          </div>

          <div class="card text-center">
            <label class="card-body px-2">
              <h5 class="card-title">Lemon Green</h5>
              <input type="radio" name="drink" value="Lemon Green Tea" />
            </label>
          </div>

          <div class="card text-center">
            <label class="card-body px-2">
              <h5 class="card-title">Matcha Latte</h5>
              <input type="radio" name="drink" value="Matcha Latte" />
            </label>
          </div>
        </div>
      </section>

      <section class="ice mb-4">
        <label class="d-block text-light">Ice</label>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-outline-primary">
            <input type="radio" name="ice" value="No Ice" />去冰
          </label>
          <label class="btn btn-outline-primary">
            <input type="radio" name="ice" value="Less Ice" />少冰
          </label>
          <label class="btn btn-outline-primary active">
            <input
              type="radio"
              name="ice"
              value="Regular Ice"
              checked="checked"
            />正常
          </label>
        </div>
      </section>

      <section class="sugar mb-5">
        <label class="d-block text-light">Sugar</label>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-outline-info">
            <input type="radio" name="sugar" value="No Sugar" />無糖
          </label>
          <label class="btn btn-outline-info">
            <input type="radio" name="sugar" value="A Little Sugar" />微糖
          </label>
          <label class="btn btn-outline-info">
            <input type="radio" name="sugar" value="Half Sugar" />半糖
          </label>
          <label class="btn btn-outline-info">
            <input type="radio" name="sugar" value="Less Sugar" />少糖
          </label>
          <label class="btn btn-outline-info active">
            <input
              type="radio"
              name="sugar"
              value="Regular Sugar"
              checked="checked"
            />正常
          </label>
        </div>
      </section>

      <div class="text-right">
        <div
          class="btn btn-light"
          style="min-width: 120px"
          data-alpha-pos="add-drink"
        >
          新增
        </div>
      </div>
    </div>
    <!-- 點餐區 -->
  </div>
</div>